.full-container{
    height: 100vh;
}

header{
    height: 69px;
}

main{
    height: calc(100% - 69px);
}

.sidebar{
    height: 100%;
    background-image: url(img/sidebar-bg.png);
}

.main-right-part{
    max-height: calc(100vh - 69px);
}

.debug{
    width: 10px;
    height: 2000px;
}

.offcanvas-width{
    width: 100vw!important;
}

@media screen and (min-width: 992px) {
    .offcanvas-width{
        width: 70vw!important;
    }
}