.full-container{
    height: 100vh;
}

header{
    height: 69px;
}

main{
    height: calc(100% - 69px);
}

.sidebar{
    height: 100%;
    background-image: url(img/sidebar-bg.png);
}

.main-right-part{
    max-height: calc(100vh - 69px);
}

.debug{
    width: 10px;
    height: 2000px;
}

.offcanvas-width{
    width: 100vw!important;
}

.class-avatar{
    max-width: 25px;
    vertical-align: middle;
}

.hover-pointer:hover{
    cursor: pointer;
}

.hover-pulse:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    
}

.active-menu-item{
    transform: scale(1.2);
}

.hover-golden:hover{
    color: gold;
}

.hover-light:hover{
    background-color: rgba(255, 255, 255, .9)!important;
    color: #0e6efd!important;
}

@media screen and (min-width: 992px) {
    .offcanvas-width{
        width: 70vw!important;
    }
}